a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #2F2F2F;
}
p {
    color: blue;
}
.texto-inicial {
    font-size: 20px;
}
.texto-final {
    text-transform: uppercase;
    font-size: 14px;
}